<fieldset class="field">
<legend class="dagskraTitle">Dagskrá</legend>

<ul class="dagskra">
    {% for item in site.data.dagskra %}
  <li>
    <h2 class="dagur"> {{ item.dagur }}</h2>
        {{ item.hlutur1 }}
  </li>
    <!-- Checkar hvort hlutur2 sé til -->
    {% if item.hlutur2 %}    
      <li>{{ item.hlutur2 }}</li>
    {% endif %}
    {% endfor %}
</ul>
</fieldset>

<a href="/" id="adlink">
  <h2>Sveit og Tónlist Útitónleikar!</h2>
  <img src="https://dl1.cbsistatic.com/i/r/2018/08/09/b6ca69f8-f123-408c-9b1f-ea3f9cf1fb17/resize/620xauto/8787947d1d00135d3f2ed512e56bee72/concert-crowd.jpg">
  
</a>