#adlink {
    font-family: Ubuntu,"sans-serif";
    padding: 15px 0;
    max-width: 270px;
    //width: 161px;
    height: 21em;
    text-align: center;
    border: 2px solid #2C514C;
    //margin: 0 50px 20px 50px;
    //margin: 0 calc(10vw - 70px);
    margin: 20px 0 0 0;
    text-decoration: none;
    h2 {
        margin: 10px;
    }
    img {
        width: 100%;
        height: 50%;
        object-fit: cover;
    }
}
#panta {
    left: 0;
    animation-name: slide;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    margin: 10px 0 0 0;
    cursor: pointer;
    font-family: Ubuntu, "sans-serif";
    background-color: rgb(0, 255, 221);
    padding: 0.8em;
    border: 2px solid;
    font-size: 1em;
}
@keyframes slide {
    0% { right: 0; }
    100% { left: 0 }
}