.togglebtn {
    border: 1px solid;
    background-color: rgba($color: #42f4e8, $alpha: 0.4);
    padding: 10px;
    font-size: 18px;
    margin: 15px 0 10px 0;
    width: fit-content;
    cursor: pointer;
}
.togglebtn:hover {
    background-color: rgba($color: #3accc2, $alpha: 0.4);
}
#form {
    display: none;
    width: fit-content; 

}
#postfang {
    width: fit-content;
}
.clubForm {
    .text {
        font-family: 'Titillium Web', sans-serif;
        padding: 6px;
        margin: 0 0 10px 0;
        height: 20px;
        background-color: rgba(0, 81, 255, 0.2);
    }
    select {
        padding: 3px;
        margin: 0 0 10px 0;
        background-color: rgba(0, 81, 255, 0.3);   
    }
}
.end {
    font-size: 1.5em;
    font-family: 'Titillium Web', sans-serif;
    margin: 10px 0 0 0;
    input {
        padding: 12px 15px;
        border-radius: 15%;
        background-color: rgba(167, 134, 255, 0.4);
    }
}