#flytjendurContainer {
    .flytjendaMynd {
        img {
            width: 70%;
            height: auto;
        }
    }
}

.flytjendurTitle {
    font-family: Nunito Sans,"sans-serif"
}
.flytjendur {
    margin: 20px 40px;
    border-left: 2px solid;
    border-right: 2px solid;
    width: fit-content;
    padding: 0 20px 0 20px;
    a {
        color: rgb(200, 0, 100)
    }
    a:hover {
        color: rgb(255, 120, 200)
    }
    li {
        * {
            width: fit-content;
            text-decoration: none;
            align-self: center;
        }
        border-bottom: 2px solid;
        display: flex;
        align-self: center;
        justify-content: center;
        padding: 10px 0px;
        width: fit-content;
        margin: 10px 0 0 0;
    }
}
.lysing {
    margin: 0 0 0 1em;
    font-size: 1.3em;
    font-family: Fira Sans,"sans-serif";
}