.leftcol {
    border-right: 2px solid #2C514C;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

// Dagskra Fieldsettið
.field {
    border-color: #2C514C;
    border-width: 3px;
    width: fit-content;
    height: fit-content;
    margin: 10px 0 0 0;
}
// Dagskra Legend Titillinn
.dagskraTitle {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}
// Dagskrá Listinn
.dagskra {
    li {
        font-family: 'Quicksand', sans-serif;
    }
    h2 {
    font-family: 'Titillium Web', sans-serif;
    }
    margin: 0;
    padding: 5px;
}
.dagur {
    margin: 10px 0 0 0;
}