@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Indie+Flower|Jua|Lobster|Manuale|Nunito:600|Nunito+Sans|Pacifico|Quicksand|Shadows+Into+Light|Titillium+Web|Ubuntu:400,700');
* {
  margin: 0;
  overflow-x: hidden;
}
html {
  background: #C0E2DF;
}
.current {
    color: rgb(230, 62, 174);
  }
.content {
  margin-top: 10px; // Svo content klessist ekki upp að headerinum
}
// Body layout Styles
.body {
  min-height: 78vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
  "leftcol content";
}
.content {
  grid-area: content;
}
.leftcol {
  margin: 0 1em 0 0;
  grid-area: leftcol;
}