.menuLabel {
    grid-area: label;
}
#menu2 {
    display: none;
}
.navigation { 
    transition: right .5s ease-in-out; 
    a {
        text-decoration: none;
        font-size: 26px;
        font-family: 'Quicksand', sans-serif;
        color: rgb(29, 250, 0);
        margin: 0 10px 10px 10px;
    }
    a:hover{
        color: #6475c0;
    }
    a::after {
        content: '';
        display: block;
        margin-left: -5px;
        padding-right: 10px;
        border-radius: 1px;
        width: 100%;
        height: 3px;
        background-color: rgb(29, 250, 0);
    }
    a:hover::after{
        background-color: #6475c0;
    }
}
@media (max-width: 1000px){
    /* 

    
    
    
    
    Nav dropdown glitchaðist og checked animationið vill ekki virka, plz fix - Nonni <3
    Held að það sé betra að nota js en ætla samt að prófa að nota ::after (aftur)






    */
    .navigation:before {
        font-family: 'icomoon' !important;
        font-size: 30px;
        content: "\e9bf";
        position: fixed;
        right: 15px;
        top: 15px;
      }
    .menuLabel {
        margin: auto 0;
        .menuInput:checked + .navigation {
            right: 0px;
        }
        .menuInput:checked + .navigation:before {
            content: "\e9c0";
        }
        .menuInput:checked + .icons {
            #menu1 {
                display: none;
            }
            #menu2 {
                display: block;
            }   
        }
        #menu1 {
            display: block;
            transition: transform .2s ease-in-out;
            position: fixed;
            right: 10px;
            top: 10px;
            font-size: 30px;
        }
        #menu2 {
            display: none;
            transition: transform .2s ease-in-out;
            position: fixed;
            right: 10px;
            top: 10px;
            font-size: 30px;
        }
        .menuInput {
            display: none; 
            position: absolute; 
        }
        .menuIcon {
            position: absolute;
            right: 10px;
            top: 10px;
            font-size: 30px;
        }
    }
    .navigation {
        position: absolute;
        right: -100em;
        //width: max-content;
        max-width: 250px;
        background-color: #52706C;
        border-radius: 3px 0 0 3px;

    }
}
@media (min-width: 1000px){
    #menu1, #menu2 {
        display: none;
    }
    .menuInput, .menuIcon {
        display: none;
        position: absolute;
    }
    .navigation {
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: auto 0;
    }
}