#pantaForm {
    margin: 30px 30px;
    box-sizing: border-box;
    input[type="text"] {
        font-size: 15px;
        width: 125px;
        height: 25px;
    }
    font-size: 1.1em;
    font-family: "Nunito Sans", "sans-serif";
    width: fit-content;
}
#pantaField {
    border: 2px solid;
    *:not(legend) {
        margin: 10px 0;
    }
}
#pantaLegend {
    font-size: 1.2em;
}
#veljaMida {
    font-size: 1em;
}
#kortanumer {
    width: 17ch !important;
}
#validthru {
    width: 5.5ch !important;
}
#csv {
    width: 3.5ch !important;
}
#submitbutton {
    margin: auto;
    width: 40%;
    height: 35px;
    border: 1px solid;
    border-radius: 4px;
}
