@media (max-width: 900px) {
    
    // Responsive fyrir leftcol
    .dagskra {
        font-size: 0.7em;
    }
    .field {
        border: none;
    }

    // Responsive fyrir Index.html
    .intro {
        margin: 20px;
        font-size: 1.3em !important;
    }
}



@media (max-width: 650px) {
    .hr {
        display: none;
    }
    .lagTitle {
        margin: 0 0 20px 0;
    }
    .lagalisti {
        padding: 0;
    }
    .leftcol {
        border: none;
    }
    .field {
        border: 3px solid #2C514C;
    }
    #form {
        margin: 0 auto;
    }

    // Responsive uppsetning á contentinu ( Allt fyrir neðan header ) 
    .body {
        margin: 15px 0 0 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "content"
        "leftcol"; 
    }
    .content {
        text-align: center;
    }
}