@media (max-width: 900px) {
    
    // Responsive fyrir leftcol
    .dagskra {
        font-size: 0.7em;
    }
    .field {
        border: none;
    }

    // Responsive fyrir Index.html
    .intro {
        margin: 20px;
        font-size: 1.3em !important;
    }
}



@media (max-width: 700px) {
    .hr {
        display: none;
    }
    .lagTitle {
        margin: 0 0 20px 0;
    }
    .lagalisti {
        padding: 0;
    }
    .leftcol {
        border: none;
    }
    .field {
        border: 3px solid #2C514C;
    }
    #form {
        margin: 0 auto;
    }

    // dagskráin á tonleikar.html

    #tonleikaDagskra, #tonleikadesc {
        margin: auto;
    }
    #tonleikadesc {
        width: 60%;
    }

    // Responsive uppsetning á contentinu ( Allt fyrir neðan header ) 
    .body {
        margin: 15px 0 0 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "content"
        "leftcol"; 
    }
    .content {
        text-align: center;
    }

    // Flytjendur Responsive

    .flytjendur {
        li {
            width: fit-content;
            margin: auto;
            display: block;
            border: none;
        }
    }
    .lysing {
        margin: 0;
    }
    #pantaForm {
        margin: auto;
    }
    .myndband {
        margin: 0 !important;
        * {
            margin: 0 !important;
        }
    }
    .myndband {
        width: 100vw;
        iframe {
            width: 100vw;
        }
        h1 {
            display: none;
            width: fit-content;
        }
    }
}