.tonleikarcontent {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}
.tonleikadesc {
    width: fit-content;
    max-width: 60%;
    word-break: break-word;
    margin: 20px auto;
}

#tonleikaDagskra {
    font-family: 'Nunito', sans-serif;
    width: fit-content;
    *:not(legend) {
        padding: 1px;
    }
    #tonleikatitle {
        font-size: 2em;
    }
    #dagskraTonleikar {
        dt {
            font-size: 20px;
        }
        .dagskraListi {
            margin: 5px 5px 5px 20px;
            dt {
                font-size: 19px;
            }
            dd {
                margin-left: 15px;
                max-width: 400px;
            }
        }
    }
}