.tonleikarcontent {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;

    #iframe {
        margin: 20px 0;
        iframe {
            margin: 15px 0;
        }
    }
}
.tonleikadesc {
    width: fit-content;
    max-width: 60%;
    word-break: break-word;
    margin: 20px auto;
    font-size: 27px;
    :first-child {
        margin: 20px 0;
        font-family: 'Nunitoo', serif;
    }
    p {
        padding: 10px 0;
        font-family: 'Nunito Sans', sans-serif;
    }
}

#tonleikaDagskra {
    font-family: 'Nunito', sans-serif;
    width: fit-content;
    *:not(legend) {
        padding: 1px;
    }
    #tonleikatitle {
        font-size: 2em;
    }
    #dagskraTonleikar {
        dt {
            font-size: 20px;
        }
        .dagskraListi {
            margin: 5px 5px 5px 20px;
            dt {
                font-size: 19px;
            }
            dd {
                margin-left: 15px;
                max-width: 400px;
            }
        }
    }
}